{% extends "core/base.html" %}

{% block content %}
    {% for element in element_list %}
        <div class="element">
            
            <a target="_blank" class="a_{{ element.pk }}" href="{{ element.url }}">
                {{ element.title }}
            </a>
            
            <!-- Update form -->
            <div class="update-form" id="form_{{ element.pk }}">
                <form method="post" name="form_{{ element.pk }}" action="/update/">
                    {% csrf_token %}
                    <input type="text" value="{{ element.title }}" name="title"/>
                    <input type="hidden" value="{{ element.pk }}" name="pk"/>
                </form>
                <button onclick="document.form_{{ element.pk }}.submit();">
                    Update
                </button>
                <button onclick="toggleEdit({{ element.pk }})">
                    Cancel
                </button>
            </div><!-- End Update form -->

            <!-- Delete form -->
            <div class="delete-form" id="form_{{ element.pk }}">
                <form method="post" name="delete_form{{ element.pk }}" action="/delete/">
                    {% csrf_token %}
                    <input type="hidden" value="{{ element.pk }}" name="pk"/>
                </form>
                <button onclick="toggleEdit({{ element.pk }})" class="a_{{ element.pk }}" >
                    Edit
                </button>
                <button onclick="document.delete_form{{ element.pk }}.submit();">
                    Delete
                </button>
            </div><!-- End Delete form -->
        </div>
    {% endfor %}
{% endblock %}