{% extends "core/base.html" %}

{% block content %}
    {% for element in element_list %}
        <section class="sortable" id="{{ element.pk }}">
            
            {% if user.is_authenticated %}
                <!-- Element-sorting -->
                <div class="draggable">
                    <i class="icon-arrow-up"></i>
                    <i class="icon-arrow-down"></i>
                </div><!-- End Element-sorting -->

                <!-- Visible at first -->
                <div class="link-container{{ element.pk }}">
                    <div class="float-left width85per">
                        <a target="_blank" href="{{ element.url }}">
                            {{ element.title }}
                        </a>
                        <span class="link">
                            {{ element.url }}
                        </span>
                        <span class="date">
                            {{ element.created|date }}
                        </span>
                    </div>
                    <div class="float-right width15per align-right">
                        <a class="dlists-edit" data="{{ element.pk }}">
                            <i class="icon-pencil bigger"></i>
                        </a>
                        <a class="dlists-delete" data="delete_form{{ element.pk }}">
                            <i class="icon-trash bigger"></i>
                        </a>
                    </div>
                    <div class="clear-both"></div>
                </div><!-- End Visible at first -->
                
                <!-- Hidden at first -->
                <div class="hide align-center form{{ element.pk }}">
                    <form method="post" name="update_form{{ element.pk }}" action="/update/">
                        {% csrf_token %}
                        <input type="text" class="width85per" value="{{ element.title }}" name="title"/>
                        <input type="hidden" value="{{ element.pk }}" name="pk"/>
                    </form>
                    <button class="btn" onclick="document.update_form{{ element.pk }}.submit();">
                        Update
                    </button>
                    <button class="btn dlists-edit" data="{{ element.pk }}">
                        Cancel
                    </button>
                </div><!-- End Hidden at first -->
                
                <!-- Delete form -->
                <form method="post" class="hide" name="delete_form{{ element.pk }}" action="/delete/">
                    {% csrf_token %}
                    <input type="hidden" value="{{ element.pk }}" name="pk"/>
                </form><!-- End Delete form -->
                
            {% else %}
                <a target="_blank" class="block" href="{{ element.url }}">
                    {{ element.title }}
                </a>
                <span class="link">
                    {{ element.url }}
                </span>
                <span class="date">
                    {{ element.created|date }}
                </span>
            {% endif %}

        </section>
    {% endfor %}
{% endblock %}