body {
    background: #EEE;
}
a {
    color: #FF6666;
}
.content {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 800px;
}
.element {
    background: #DDD;
    border-bottom: 1px solid #AAA;
    display: block;
    padding: 16px 12px;
}
.delete-form {
    text-align: right;
}
.update-form {
    display: none;
}